<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Bamazon</title>
</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <table class="table" id="target" style="width:80%;">
                <tr>
                    <th>Item ID</th>
                    <th class="text-center">Item</th>
                    <th>Price</th>
                    <th>Department</th>
                    <th>Stock QTY</th>
                    <th>Edit / Delete</th>


                </tr>

                <% for(var i=0; i<results.length; i++) {%>
                <tr>
                    <td class="text-center">
                        <%= results[i].id %>
                    </td>
                    <td>
                        <%= results[i].product_name %>
                    </td>
                    <td>
                        <%= results[i].price %>
                    </td>
                    <td>
                        <%= results[i].department_name %>
                    </td>
                    <td>
                        <%= results[i].stock_quantity %>
                    </td>
                    <td><i class="getitem far fa-edit" data-id="<%= results[i].id %>" data-toggle="modal" data-target="#modalcenteritemupdate"></i><span>
                            / </span><i class="far fa-trash-alt" data-id="<%= results[i].id %>"></i></td>


                </tr>
                <% } %>


            </table>
        </div>

    </div>
    <!-- Modal item input -->
    <div class="modal fade" id="modalcenteritemupdate" tabindex="-1" role="dialog" aria-labelledby="modalcenteritemupdate"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Item Update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formitemupdate" name="myform">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">

                                    <label for="id">Item ID</label>
                                    <input type="text" class="form-control" id="id" placeholder="">
                                </div>
                                <div class="col-md-10">
                                    <label for="product_name">Item Name</label>
                                    <input type="text" class="form-control" id="product_name" placeholder="">

                                </div>
                            </div>


                            <label for="price">Price</label>
                            <input type="text" class="form-control" id="price" placeholder="">
                            <label for="picture_link">Image Link</label>
                            <input type="text" class="form-control" id="picture_link" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="department_name">Department</label>
                            <input type="text" class="form-control" id="department_name" placeholder="">
                            <label for="product_description">Item Description</label>
                            <textarea class="form-control" id="product_description" rows="3"></textarea>

                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btnitemupdate btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btnitemupdate btn btn-primary">Save changes</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
<script>

    $(document).ready(function () {
    
    $("#search").attr("placeholder" ,"<%= err %>");
    getCartItems();
    
    
    
    $('body').on("click", ".btn-form" , function(e){
      
        $("#myform").attr("action", "/searchresults");
        jQuery.get('/searchresults',"?"+ $("#myform").serialize(), function (data) {
             // console.log($("#myform").serialize()) //data is the response from the backend
        });  
    
    
    })
    $('body').on("click", ".dpt" , function(e){
      
       console.log("name="+ $(this).data("val"));
        jQuery.get('/department', "name="+ $(this).data("val"), function (data) {
             // console.log($("#myform").serialize()) //data is the response from the backend
        });  
    
    
    })
    
    $('body').on("click", ".cart" , function(e){
        
      if (localStorage.getItem("cartId")){
          var itemId = $(this).data("itemid");
    var obj = {
        cart_id: localStorage.getItem("cartId"),
        product_id:itemId ,
        product_name: $("#itemname"+itemId).text(),
        price: $("#itemprice"+itemId).data("price"),
        quantity:parseInt($("#inputqtyitemid"+itemId).val())
    
      }
    
         console.log(obj) ;    
    
    
    
           $.ajax({
                    url: '/addtocart',
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/x-www-form-urlencoded',
                    data: obj,
                    success: function (data, textStatus, jQxhr) {
                        
                        console.log(data);
                       
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });  
    
      }else{
        $.ajax({
                    url: '/getcartid',
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/x-www-form-urlencoded',
                    data: '',
                    success: function (data, textStatus, jQxhr) {
                        
                        console.log(data);
                        localStorage.setItem("cartId",data.insertId);
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });  
      }
    })
    
    function getCartItems(){
    if (localStorage.getItem("cartId")){
    
     $.ajax({
                    url: '/getcartitems?cartid='+localStorage.getItem("cartId"),
                    dataType: 'json',
                    type: 'get',
                    contentType: 'application/x-www-form-urlencoded',
                    
                    success: function (data, textStatus, jQxhr) {
                        
                        console.log(data);
                        loadCart(data);
                       ;
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });  
    }
    }
    
    function loadCart(argitems){
    var target = "#targettable";
    var sumOfItem = 0;
    
    for (var i =0 ; i < argitems.length ; i++){
    var itemTotal =argitems[i].price * argitems[i].quantity;
        $(target).append("<tr><td>"+argitems[i].product_name+"</td><td>"+argitems[i].price+"</td><td>"+argitems[i].quantity+"</td><td>$"+itemTotal+"</td><td>"+"<i class='getitem far fa-edit' data-id='' data-toggle='modal' data-target='#modalcenteritemupdate'></i><span> / </span><i class='deleteitem far fa-trash-alt' data-id=''></i><"+"</td></tr>");
    }
    }
    
    })
    
    
    
    </script>

</html>