* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.side_menu {
    padding:5px;
    height: 87vh;
    overflow: auto;

}
li {
    list-style: none;
}
.side_menu .btn {
    width: 100%;
    text-align: left;
}
.display_page {
    width: 100%;
    margin:0;
    height: 86vh;
    overflow: auto;
   
}

.display_page .card {
    height:100%;
    width:95%;
    overflow: hidden;
    background-color: #340E8B;
    border: 1px solid black;
    margin: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
    padding: 5px;
    color: #D4E4BC;
}
.card img{
    margin: 5px 5px 10px 0;
    float: left;
    height:120px;
    width:120px; 
}

#target {
    
    border-collapse: collapse;
    margin-left: 10%;
    
    box-shadow:  0 20px 50px rgba(3, 3, 3, 0.7);
    border-radius: 25px;

}

#target td, #target th {
    border: 1px solid #ddd;
    padding: 8px;
   
}

#target tr:nth-child(even){
  background-color: #598392;
  color: #01161E;

}
#target tr:nth-child(even){
 
  color: #EFF6E0;

}



#target tr:hover {background-color: #AEC3B0;}

#target th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#124559;
    color: #EFF6E0;
    
}
#targettable {
    
    border-collapse: collapse;
    margin-left: 10%;
    
    box-shadow:  0 20px 50px rgba(3, 3, 3, 0.7);
    

}

#targettable td, #targettable th {
    border: 1px solid #ddd;
    padding: 8px;
   
}

#targettable tr:nth-child(even){
  background-color: #598392;
  color: #01161E;

}
#targettable tr:nth-child(even){
 
  color: #EFF6E0;

}



#targettable tr:hover {background-color: #AEC3B0;}

#targettable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#124559;
    color: #EFF6E0;
    
}

textarea {
    overflow-y: scroll;
   
    resize: none; /* Remove this if you want the user to resize the textarea */
}

.modal-dialog {
    max-width: 80% !important;
}
i {
    cursor: pointer;

}
i:hover {
    border-bottom: 2px solid navy;
}